.container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .flex-end {
    justify-content: flex-end;
  }
  