:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);

  .dark-mode {
    --primary-color: #000000;
    --background-color: #333333;
    --text-color: #ffffff;
  }
}

// default styles for light mode

// navbar
$nav-bg: #fff;
$nav-link: #6c6767;
$nav-web-title: #3355ce;
$nav-login: #000000;
// also the image author name
$nav-signup: #549cf1;
$nav-signup-text: #ffffff;

// page background for every page
$page-bg: #e7eaed;

// most text colors (display name, comment text, section titles, upload/likes, dark text, etc.)
$text: #272f32;

// photo pages
$photo-backdrop: #2e3547;
$photo-icons: #ffffffd0;
$photo-icons-hover: #ffffff;
$input-comment-bg: #ffffffe7;
$input-comment-text: #393f50;
$input-comment-border: #00000044;
// might yeet
$comment-date: #5c6271;

// footer stuff
$footer-bg: #eeeeee;
$footer-titles: #5b77a1;
$foot-text: #6a6a72;
$footer-links: #526b91;

// darkmode style
.dark-mode {
  $title-text: #232f3e;
  --background-color: #333333;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: #e7eaed;
}

body {
  margin: 0;
  padding-top: 4rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  /* font-size: 1.1rem; */
  margin-top: 0;
}

a {
  /* color: var(--tertiary); */
  text-decoration: none;
  /* font-weight: bold; */
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* header {
  background: var(--primary);
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  text-transform: none !important;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

hr {
  border: none;
  height: 1px;
  background-color: #6c676741;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.App {
  text-align: center;
}

.modalDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
}
