@import '../../index.scss';

#dropdownUsername {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 0.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
