@import '../../index.scss';

#dropdownUsername {
  font-size: 1.2rem;
  font-weight: 600;
  margin: auto 0;
  padding: 0 1rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#dropdownUsername p {
  margin: auto 0;
  padding: 0;
}
