body {
  padding-top: 4rem;
}

.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: 900;
  backdrop-filter: blur(0.5px);
}

.hideElement {
  display: none;
}

.arrowLink {
  color: #ffffffd0;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 13rem;
  cursor: pointer;
}

.arrowLink:hover {
  color: #ffffff;
  scale: 1.05;
}

.iconColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop {
  background-color: #2e3547;
  width: 100%;
  padding: 15px 0 35px 0;
  height: 575px;
  max-height: 575px;
}

.backdropContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  margin: 0 auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  max-width: 100%;
  max-height: 535px;
}

.fullscreenImage {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreenImage img {
  max-width: none;
  max-height: none;
  width: auto;
  height: 50vw;
}

.imageInfo {
  padding-top: 1rem;
  width: 45vw;
  position: relative;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  position: absolute;
  top: 30px;
  left: -65px;
  z-index: 1;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  align-items: right;
}

.socialText {
  font-size: 1.3rem;
  font-weight: bold;
}

.imageTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageName {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: #2e3547;
  margin-bottom: 0;
}

.imageAuthor {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.imageDescription {
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container {
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease; /* Set the desired transition speed */
}

.pinkBox {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden; /* Initially hide the pink box */
}

.purchaseButton {
  width: 11rem;
  border: 1px solid #fca43c !important;
  background-color: #fca43c !important;
  border-radius: 20px !important;
  font-size: 1rem;
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: bold !important;
  color: #ffffff !important;
  text-transform: none;
}

.addCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.3rem;
}

.addCart {
  width: 150px;
  border: 1px solid #fca43c !important;
  background-color: #fca43c !important;
  border-radius: 20px !important;
  font-size: 1rem;
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: bold !important;
  color: #ffffff !important;
  text-transform: none;
  padding: 8px 2px 8px 2px !important;
  margin-left: auto !important;
}

.purchaseInactive {
  border: 1px solid #caaf8e !important;
  background-color: #caaf8e !important;
  color: #ffffff !important;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.3rem;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.19));
}

.photoIcon {
  font-size: 6rem !important;
  margin: 12px 0px 10px 0px;
  color: #d1d6dc;
}

.size {
  font-family: arial, sans-serif;
  font-size: 1.2rem;
  line-height: 16px;
}

.price {
  margin-bottom: 5px !important;
  padding-top: 5px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #549cf1;
}

.dropdownItemContainer {
  width: 275px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdownItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.dropdownItem > * {
  margin-bottom: 9px; /* Added this to create spacing between the elements */
}

.quantityText {
  line-height: 16px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  color: #2e3547bc;
  font-size: 1rem;
}

.commentSection {
  overflow: auto;
  max-height: 40vw;
  width: 50vw;
}

.commentInput {
  width: 50vw;
  resize: vertical;
  min-height: 15vh;
  max-height: 50vh;
  font-size: 1.2rem;
  color: #393f50;
  border: #00000044 1px solid;
  border-radius: 6px 6px 1px 6px;
  font-family: 'Fira Sans', sans-serif;
  background-color: #ffffffe7;
}

.commentInput:focus {
  box-shadow: 0 0 1.5px #549cf1;
  outline: none;
}

.commentText {
  width: 40vw;
  font-family: Calibri, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-left: 3.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.commentContent {
  width: 100%;
  flex: 1;
}

.nameRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commentOrientation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 4rem;
}

.avatarCommentor {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.commentAuthor {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.commentDate {
  font-family: Arial, sans-serif;
  font-size: 0.7rem;
  padding-left: 3.5rem;
  font-weight: bold;
  color: #5c6271;
}

.otherPhotos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}

.otherPhotosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.otherPhotoBarrier {
  padding: 0 9px 30px 9px;
}

.otherPhoto img {
  max-height: 230px;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.otherPhoto {
  transition: all 0.2s ease-in-out;
  height: 230px;
  border-radius: 10px;
}

.otherPhoto img {
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.otherPhoto img:hover {
  cursor: pointer;
}

.otherPhoto:hover {
  transform: scale(1.015);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1500px) {
  .dropdownItemContainer {
    margin-bottom: 1.4rem;
  }
}
