.bannerContainer {
  width: 100%;
  position: relative;
}

.blurbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.blurb {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  width: 75vw;
  padding: 0 20px;
}

.blurbTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 50px;
}

.blurbText {
  font-family: 'Arial', sans-serif;
}

.banner {
  background-image: url('../assets/bannercrop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
