.footerDefText {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(106, 106, 114);
}

.footerText {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(82, 107, 145);
}

.footerText:hover {
  text-decoration: underline;
}

.footerTextPadding {
  padding-bottom: 0.3rem;
}

.footerIcon {
  color: black;
}

.copyright {
  color: rgb(82, 107, 145);
}
