@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.footerDefText {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(106, 106, 114);
}

.footerText {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(82, 107, 145);
}

.footerTitleText {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 600;
}

.footerText:hover {
  text-decoration: underline;
}

.footerTextPadding {
  padding-bottom: 0.3rem;
}

.footerIcon {
  color: black;
}

.copyright {
  color: #5b77a1;
}

.GitHub {
  animation: pulse 4s infinite;
  color: #526b91;
}
