.modalBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 24px;
  padding: 2px;
  border-radius: 15px;
  height: fit-content;
  width: 30vw;
  max-height: 80vh;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: auto;
  z-index: 9989;
}

.closeButton {
  position: relative;
  align-self: end;
}

h2 {
  text-align: center;
  width: fit-content;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#upload {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  border-bottom: none;
}

#previewImageBox {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 10px;
}

#previewImage {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#uploadTitle {
  width: 100%;
}

#uploadTitle:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

#uploadDescription {
  width: 100%;
}

#uploadButton {
  margin: 8px auto 15px auto;
}
